@import 'src/assets/styles/variables';

.navbar {
  background-color: rgba(255,255,255,0.6);
  height: 58px;
  box-shadow: 0 0 7.5px 0 rgba(34, 60, 71, 0.1);
  z-index: 1060;
  padding: 0 60px;
  
  a {
    color: #5c6062;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
  }

  .header-action-user-profile {
    display: flex;
    flex-direction: row;
  }

  .navbar-brand {
    img {
      width: 190px;
    }
  }

  .navbar-collapse {
    z-index: 1000;
    background-color: transparent;
    padding: 6px 20px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar {
    padding: 0 10px !important;
  }

  .header-search-box {
    margin: 20px 0;
  }
  .navbar-brand {
    img {
      width: 140px !important;
    }
  }

  .navbar-collapse {
    background-color: rgba(255,255,255,0.8) !important;
    padding: 0 !important;

    .navbar-nav {
      padding: 0 20px !important;
    }
  }

  .header-action-user-profile {
    padding: 10px 20px !important;
  }
}