<div class="container">
  <div class="form_content"></div>
  <div class="login_form">
    <h5>Sign In</h5>
    <form>
      <input type="text" name="username" required="" placeholder="Username">
      <input type="password" name="password" required="" placeholder="Password">
      <h6><a href="#">Forgot Password?</a></h6>
      <div class="form-group">
        <input type="checkbox" id="html">
        <label for="html">Keep me logged in</label>
      </div> 
      <input type="submit" name="submit" value="Log In">
    </form>
    <p>Don’t have an account? <a href="#">Sign up</a> </p>
  </div>
</div>
