<section class="home-ads-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="home-ads-slider-holder">
          <owl-carousel-o [options]="customOptions" class="home-ads-slider">
            <ng-template carouselSlide>
              <div class="slide-inner" style="background-image: url('assets/images/tmp/banner-ad-4.png')">
              </div>
            </ng-template>  
            <ng-template carouselSlide>
              <div class="slide-inner" style="background-image: url('assets/images/tmp/banner-ad-1.png')">
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>
