
:host ::ng-deep { 
    .modal-body-outer {
        padding: 40px 45px;

        .modal-header {
            padding: 0;
            border: none;
            margin-bottom: 20px;
        }

        .modal-body {
            padding: 20px 0;
        }

        .modal-footer {
            border: none;
        }

        .similar-products-holder {
            h3 {
                font-size: 18px;
                color: #1e6500;
            }

            h4 {
                margin: 20px 0 0 0;
                font-size: 18px;
                font-weight: 500;
                color: #505050;
            }

            .similar-product-list {
                flex-direction: row;
                justify-content: right;
                display: flex;
    
                app-ivys-product-card {
                    width: 216px;
                    margin: 0 20px 0 0;
                }
            }
        }        
    }
}

@media only screen and (max-width: 767px) {
    .similar-product-list {
        flex-direction: column !important;

        app-ivys-product-card {
            width: 100% !important;
        }
    }
}