<ul class="sidebar-nav">
  <li routerLink="/buyer/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <div class="nav-item">
      <div class="nav-icon">        
        <img src="assets/images/icons/dashboard.svg"/>
      </div>
      Dashboard
    </div>
  </li>

  <li routerLink="/buyer/my-quotes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <div class="nav-item">
      <div class="nav-icon">        
        <img src="assets/images/icons/qoute.svg"/>
      </div>
      Quote Request
    </div>
  </li>

  <li routerLink="/buyer/message-box" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <div class="nav-item">
      <div class="nav-icon">        
        <img src="assets/images/icons/messages.svg"/>
      </div>
      Messages
    </div>
  </li>

  <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <div class="nav-item">
      <div class="nav-icon">        
        <i class="apicon-messages"></i>
      </div>
      Messages
    </div>
  </li> -->

  <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <div class="nav-item">
      <div class="nav-icon">        
        <i class="apicon-reviewsAndFeedbacks"></i>
      </div>
      Reviews & Feedbacks
    </div>
  </li> -->

  <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <div class="nav-item">
      <div class="nav-icon">        
        <i class="apicon-settings"></i>
      </div>
      Settings
    </div>
  </li> -->
</ul>