<app-ivys-page-header bgImg="assets/images/faq-page.jpg" pageTitle="Frequently Asked Questions" subTitle=""></app-ivys-page-header>

<div class="container-fluid">
  <div class="faq-section">
    <div class="sections">
      <h3>Seller</h3>

      <div class="section-content">
        <accordion [isAnimated]="true">
          <accordion-group heading="How do I register and login?">
            This content is straight in the template.
          </accordion-group>
          <accordion-group heading="How to add a new product?">
            <p>Some content</p>
          </accordion-group>
          <accordion-group heading="How to add a new product series?">
            <p>Some content</p>
          </accordion-group>
          <accordion-group heading="How to manage a quote?">
            <p>Some content</p>
          </accordion-group>          
        </accordion>
      </div>
    </div>
    <div class="sections pl-5">
      <h3>Buyer</h3>

      <div class="section-content">
        <accordion [isAnimated]="true">
          <accordion-group heading="How do I register?">
            This content is straight in the template.
          </accordion-group>
          <accordion-group heading="How to Request for a quote?">
            <p>Some content</p>
          </accordion-group>          
          <accordion-group heading="How to manage a quote?">
            <p>Some content</p>
          </accordion-group>          
        </accordion>
      </div>
    </div>
  </div>
</div>