<div class="modal-body-outer" [ng2-loading]="isLoading"> 
  <div class="modal-body">
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="row no-gutters">        
        <div class="col-md-6">
          <div class="left-side">
            <img src="../../../assets/images/login-side-image.png" alt="login-image"> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-side">
            <h4>Sign In to Continue</h4>
            <div class="form-group ivys-input-style">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" [(ngModel)]="userData.email" name="email"
              #email="ngModel" [ngClass]="{ 'is-invalid': email.touched && email.invalid }" required 
              pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
              <div *ngIf="email.touched && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">This is a required field</div>
                <div *ngIf="email.errors.pattern">Please enter valid email</div>
              </div>
            </div>
            <div class="form-group ivys-input-style">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" [(ngModel)]="userData.password" name="password"
              #password="ngModel" [ngClass]="{ 'is-invalid': password.touched && password.invalid }" required>
              <div *ngIf="password.touched && password.invalid" class="invalid-feedback">
                <div *ngIf="password.errors.required">This is a required field</div>
              </div>
              <div class="form-text text-muted">
                <a href="#">Forgot Password?</a>
              </div>
            </div>

            <div class="form-group text-right">
              <button type="button" class="btn btn-outline-dark btn-sm mr-2" (click)="bsModalRef.hide()">Cancel</button>
              <button type="submit" class="btn btn-primary btn-sm">Sign In</button>
            </div>            
          </div>         
        </div>
      </div> 
    </form>
  </div>
</div>