<div class="page-holder" [ng2-loading]="isLoading">
  <div class="page-header">
    <div class="page-header-inner">
      <div class="row">
        <div class="col-md-6">
          <h2>Manage Quotes > 
            <span>{{quoteInfo.quote_id}} </span>
            <span class="badge" [ngClass]="{'badge-warning':quoteInfo.final_client_aproval === 'Pending', 'badge-success':quoteInfo.final_client_aproval === 'Approved', 'badge-danger':quoteInfo.final_client_aproval === 'Rejected'}">
              {{quoteInfo.final_client_aproval}}
            </span>
          </h2>
        </div>
    
        <div class="col-md-6 text-right">
        </div>
      </div>

      <div class="header-action-bar">
        <div class="row">
          <div class="col-12">
            <div class="header-quote-info-holder">
              <div class="quote-info-item">
                <small>Quotation ID</small>
                <h2>{{quoteInfo.quote_id}}</h2>
              </div>
              <div class="quote-info-item">
                <small>Client Code</small>
                <h2>{{quoteInfo.buyer_id}}</h2>
              </div>
              <div class="quote-info-item">
                <small>Created Date</small>
                <h2>{{quoteInfo.created_date | date: 'M/d/yy'}}</h2>
              </div>
              <div class="quote-info-item">
                <small>Lsat Update On</small>
                <h2>{{quoteInfo.last_updated_date | date: 'M/d/yy'}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>    
  </div>

  <div class="page-content">
    <div class="quote-managment-panel">
      <div class="qma-section">
        <div class="qmas-header">
          <h4>Your Quote Information</h4>
          <button class="qmas-btn">Download as PDF</button>
        </div>

        <div class="qmas-body">
          <div class="qmas-quote-product-item">   
            <table>
              <thead>
                <td width="42px">Item</td>
                <td></td>
                <td>QTY</td>
                <td width="100px" *ngIf="quoteInfo.final_client_aproval !== 'Approved'">Unit Price ($)</td>
                <td *ngIf="quoteInfo.final_client_aproval !== 'Approved'">Amount ($)</td>
              </thead>
              <tbody>
                <td>
                  <div class="qpi-img" [ngStyle]="{'background-image': 'url('+imgUploadPath+'/'+quoteProduct.product_single_img+')'}"></div>
                </td>
                <td>
                  <h5 class="qpi-name">{{quoteProduct.product_name}}</h5>
                </td>
                <td>
                  <h5 class="qpi-qty">
                    {{quoteProduct.quantity}}
                  </h5>
                </td>
                <td *ngIf="quoteInfo.final_client_aproval !== 'Approved'">
                  <div class="form-group ivys-input-style">
                    <input type="number" class="form-control qpi-price" name="unitPrice" [(ngModel)]="sellerMsg.seller_unit_price" (keyup)="calcTotalAmount()">
                  </div>
                </td>
                <td *ngIf="quoteInfo?.final_client_aproval !== 'Approved'">
                  <h5 class="qpi-qty">
                    {{sellerMsg?.seller_price | currency}}
                  </h5>
                </td>
              </tbody>
            </table>

            <!-- <h5 class="qpi-qty">
              <small>Quantity</small> <br>
              {{quoteProduct.quantity}}
            </h5>
            <div class="form-group ivys-input-style">
              <label>Price - USD</label>
              <input type="text" class="form-control qpi-price" name="">
            </div> -->
          </div>
        </div>

        <div class="qmas-footer">
          <div *ngIf="!lastQuoteInstance?.seller_msg_time && lastQuoteInstance?.buyer_msg || editQuote">
            <div class="form-group ivys-input-style">
              <label>Comment</label>
              <textarea class="form-control" rows="2" [(ngModel)]="sellerMsg.seller_msg" name="sellerMsg"></textarea>
            </div>
            <div class="d-flex justify-content-between">
              <div class="form-group form-check square-checkbox">
                <input type="checkbox" class="form-check-input" [(ngModel)]="agreeToTerms" name="agreement">
                <label class="form-check-label" for="exampleCheck1">
                  <app-ivys-lpg-agreement></app-ivys-lpg-agreement>
                </label>
              </div>
  
              <button type="button" class="quote-msg-send-btn" (click)="sendMsg()" [disabled]="!agreeToTerms || sellerMsg.seller_msg === ''">Submit Quote</button>
            </div>
          </div>   
          <div *ngIf="quoteInfo.final_client_aproval === 'Approved'">
            <div class="alert alert-success" role="alert">
              This quote has been approved by Buyer
            </div>
            <button type="button" class="btn btn-primary" (click)="readyToShip()">
              <i class="fas fa-shipping-fast"></i>
              Rady to Ship
            </button>
          </div>
          <div *ngIf="quoteInfo.final_client_aproval !== 'Approved' && lastQuoteInstance?.seller_msg_time" [hidden]="editQuote">
            <div class="alert alert-primary" role="alert">
              Waiting for the buyer response
            </div>
          </div>      
        </div>
      </div>
      <div class="qma-section">
        <div class="qmas-header">
          <h4>Quote History</h4>
          <button class="qmas-btn">Download as PDF</button>
        </div>
        <div class="qmas-msg-list-holder">
          <div *ngFor="let qmsg of quoteInstance">
            <div class="qmas-msg-item client-msg" *ngIf="qmsg.buyer_msg !== null">
              <div class="qmas-msg-body">
                <h6 class="msg-date-time">{{qmsg.buyer_msg_time | date: 'medium'}} by Buyer</h6>
                <h5>Comment</h5>
                <p>{{qmsg.buyer_msg}}</p>
              </div>
            </div>
  
            <div class="qmas-msg-item my-msg" *ngIf="qmsg.seller_msg !== null">
              <div class="qmas-msg-body">
                <h6 class="msg-date-time">{{qmsg?.seller_msg_time | date: 'medium'}} by You</h6>
                <div class="seller-quote-template">
                  <span class="badge badge-danger" *ngIf="qmsg.client_reject === 1">Buyer Rejected</span>
                  <table>
                    <thead>
                      <td>Item</td>
                      <td>QTY</td>
                      <td>Unit Price($)</td>
                      <td>Amount</td>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div>{{quoteProduct.product_name}}</div>
                        </td>
                        <td>{{quoteProduct.quantity}}</td>
                        <td>{{qmsg.seller_unit_price | currency}}</td>
                        <td>{{qmsg.seller_price | currency}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <td>Total</td>
                      <td></td>
                      <td></td>
                      <td>{{qmsg.seller_price | currency}}</td>
                    </tfoot>
                  </table>
                </div>

                <h5>Comment</h5>
                <p>{{qmsg.seller_msg}}</p>
                <br/>
                <button type="button" (click)="editResponse();" *ngIf="qmsg.quote_admin_status !== 'Approved'" class="btn btn-warning btn-sm">Edit Quote</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
