<app-ivys-header></app-ivys-header>
<div class="row no-gutters login-container">
  <div class="col-md-12">
   <div class="left-side">
    
    <p>It's never been so easy to match <b>perfect products</b> together </p>
    <h3>Select Your Role</h3>
    
    <div class="role-list">
      <div class="role-item" [routerLink]="['/buyer-register']">
        <img src="../../../assets/images/buyer.png"/>
        <h5>Im a buyer</h5>
        <p>Lorem ipsum dolor sit amet, consec</p>
      </div>

      <div class="role-item" [routerLink]="['/seller-register']">
        <img src="../../../assets/images/seller.png"/>
        <h5>Im a seller</h5>
        <p>Lorem ipsum dolor sit amet, consec</p>
      </div>
    </div>
   </div>
  </div>
</div>
