@import 'src/assets/styles/variables';


.login-container {
  width: 100%;
  min-height: calc(100vh - 78px);

  .left-side {    
    height: 100%;
    background-color: $loginRegColorSectionBg;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
    .logo-holder {
      width: 120px;
      text-align: center;
      margin: 6px auto;

      img {
        width: 100%;
      }
    }

    p {
      color: #ffffff;
      font-weight: 400;
      font-size: 20px;
    }

    h3 {
        font-size: 20px;
        color: #ffffff;
        margin: 10px 0 30px 0;
    }

    .role-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-content: center;

        .role-item {
            width: 150px;
            margin: 0 20px;
            cursor: pointer;
            &:hover {
              img {
                opacity: 1;
              }
            }
            img {
                width: 100%;
                margin-bottom: 20px;
                opacity: 0.6;
            }

            h5 {
                font-size: 14px;
                color: #ffffff;
                font-weight: 500;
            }

            p {
                font-size: 12px !important;
                font-weight: 200 !important;
            }
        }
    }

    .accept-agreement {
        margin: 30px 0;
        color: #ffffff;
        font-size: 12px;
    }
  }
}