<div class="page-holder" [ng2-loading]="isLoading">
  <div class="page-header">
    <div class="row">
      <div class="col-md-6">
        <h2>Product Listing</h2>
      </div>
  
      <div class="col-md-6 text-right">
        <button class="btn" type="button">
          <i class="apicon-settings"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="page-actions">
    <div class="row">
      <div class="col-md-3">
        <div class="input-group ivys-input-group append">
          <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="apicon-search"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-3"></div>

      <div class="col-md-3">
        <div class="form-group">
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>

      <div class="col-md-3">
        <button type="button" class="btn btn-primary ivys-btn-icon-left">
          <span><i class="apicon-arrow-left"></i></span>
          Add Products
        </button>
      </div>
    </div>
  </div>

  <div class="page-content">
    <table class="table table-ivys">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Product ID</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Image</th>
        <th scope="col">Status</th>
        <th scope="col">Base PPP</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of productList">
        <th scope="row"></th>
        <td>{{product.product_id}}</td>
        <td>{{product.product_name}}</td>
        <td>{{product.product_cat_name}} > {{product.sub_prod_cat_name}}</td>
        <td>
          <div class="tbl-img" [ngStyle]="getProductImg(product.product_imgs)"></div>
        </td>
        <td>{{product.product_status}}</td>
        <td>{{product.product_price}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>