<ul class="sidebar-nav">
  <li routerLink="/logistic-partner/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <div class="nav-item">
      <div class="nav-icon">        
        <img src="assets/images/icons/bid.svg"/>
      </div>
      Bid Wall
    </div>
  </li>

  <li routerLink="/logistic-partner/bid-history" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <div class="nav-item">
      <div class="nav-icon">        
        <img src="assets/images/icons/bid-history.svg"/>
      </div>
      Bid History
    </div>
  </li>
  <!-- <li routerLink="/buyer/my-quotes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <div class="nav-item">
      <div class="nav-icon">        
        <i class="apicon-manageRfq"></i>
      </div>
      Bid Archive
    </div>
  </li>

  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <div class="nav-item">
      <div class="nav-icon">        
        <i class="apicon-settings"></i>
      </div>
      Settings
    </div>
  </li> -->
</ul>
