<app-ivys-page-header bgImg="assets/images/promise.jpg" pageTitle="Our Promise" subTitle="Your Partner for Hotel Supliers"></app-ivys-page-header>
<div class="our-promise-bg">
  <div class="container-fluid">
    <section class="our-promise-section">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="promise-tabs mt-5 mb-5">
            <div>
              <tabset class="promise-tab-set" #staticTabs>
                <tab>
                  <ng-template tabHeading>
                    <div class="promise-tab-heading">
                      <img src="./assets/images/lpg.png"/>
                      <h4>Lowest Price Guarantee</h4>
                      <h5>(LPG): Lower than the market</h5>
                    </div>                    
                  </ng-template>
                  <div class="promise-tab-body">
                    <p>
                      <strong>Direct2Resort</strong> ensures our valued clients that the prices in our online store are lower than the market price, 
                      guaranteed by our premium Business Partners. As a fundamental policy of our business, we have only partnered 
                      with the manufacturers and brand owners (Business Partners) who have principally agreed to offer the lowest 
                      price in the market. Accordingly, we only partner with direct Business Partners which will surely eliminate 
                      dealer margins and hidden mark-ups. When you order a product from <strong>Direct2Resort</strong> you are getting the direct 
                      factory price quoted by the Business Partners plus <strong>Direct2Resort</strong> transaction fees which are clearly 
                      visible in your product quote.
                    </p>
                  </div>
                </tab>

                <tab>
                  <ng-template tabHeading>
                    <div class="promise-tab-heading">
                      <img src="./assets/images/direct_from_source.png"/>
                      <h4>Direct from the source</h4>
                      <h5>No middlemen </h5>
                    </div>                    
                  </ng-template>
                  <div class="promise-tab-body">
                    <p>
                      <strong>Direc2Resort</strong> has deployed a systematic selection process of carefully collaborating with our 
                      Business Partners who are only manufacturers or brand owners, just to ensure that we are 
                      getting the right business partner for our valued clients. This process will help us eliminate dealers, 
                      agents and other middlemen enabling you to connect directly with the source.  
                    </p>
                  </div>
                </tab>

                <tab>
                  <ng-template tabHeading>
                    <div class="promise-tab-heading">
                      <img src="./assets/images/bsr.png"/>
                      <h4>Best Shipping Rates (BSR)</h4>
                      <h5>No hidden charges</h5>
                    </div>                    
                  </ng-template>
                  <div class="promise-tab-body">
                    <p>
                      <strong>Direc2Resort</strong> has partnered with key logistic operators in the market to get you the 
                      Best Shipping Rates (Freight & Clearance). In order to do this, our innovative online 
                      platform has set up a logistic hub where all logistic partners will bid for each order 
                      separately ensuring you the lowest rate through competitive bidding process. <strong>Direc2Resort</strong> 
                      will assign the orders to the lowest successful bids quoted within 48 hours after order 
                      confirmation and the clients will be charged only the actual cost without any mark-ups by <strong>Direc2Resort.</strong>   
                    </p>
                  </div>
                </tab>

                <tab>
                  <ng-template tabHeading>
                    <div class="promise-tab-heading">
                      <img src="./assets/images/quality.png"/>
                      <h4>Quality for professionals</h4>
                      <h5>Only branded products</h5>
                    </div>                    
                  </ng-template>
                  <div class="promise-tab-body">
                    <p>
                      All <strong>Direc2Resort</strong> Business Partners are either OEM (Original Equipment Manufacturers) partners or the original brand owners. 
                      As a result we offer only a range of branded products whose quality is undoubtedly an inherent factor. 
                      Our Business Partners come from all around the world and they are specialized and renowned for their specific product 
                      offering for years before they are made available on our online store. In other words, 
                      <strong>Direc2Resort</strong> offers only best of the quality products which are sought by the professionals. 
                    </p>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>