<app-ivys-header></app-ivys-header>
<div class="row no-gutters login-container">
  <div class="col-md-6">
   <div class="left-side" [ng2-loading]="isLoading">

     <form #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && resetPassword()">
        <h3>New Password</h3>
        <div class="form-group ivys-input-style">
          <label>Password</label>
          <input type="password" [(ngModel)]="userData.newPassword" class="form-control" name="newPassword" 
          #newPassword="ngModel" [ngClass]="{ 'is-invalid': newPassword.touched && newPassword.invalid }" minlength="8" required>
          <div *ngIf="newPassword.touched && newPassword.invalid" class="invalid-feedback">
            <div *ngIf="newPassword.errors.required">This is a required field</div>
            <div *ngIf="newPassword.errors.minlength">Password must be at least 8 characters</div>
          </div>
        </div>

        <div class="form-group ivys-input-style">
          <label>Confirm Password</label>
          <input type="password" pwConfirm="newPassword" class="form-control" name="confirmPassword" [(ngModel)]="userData.confirmPw"                 
          #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': confirmPassword.touched && confirmPassword.invalid }" required>
          <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="invalid-feedback">
            <div *ngIf="confirmPassword.errors.required">This is a required field</div>
            <div *ngIf="confirmPassword.errors.pwConfirm">Password mismatch</div>                          
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
      </form>
   </div>
  </div>

  <div class="col-md-6">
    <div class="right-side">
      <p>It's never been so easy to match <b>perfect products</b> together </p>
      <img src="../../../assets/images/login-side-image.png" alt="login-image"> 
    </div>     
  </div>
</div>
