<app-ivys-header></app-ivys-header>
<div class="row no-gutters login-container">
  <div class="col-md-6">
   <div class="left-side" [ng2-loading]="isLoading">

     <form #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && resetPassword()">
        <h3>Rest Password</h3>
        <div class="form-group ivys-input-style">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" [(ngModel)]="userData.email" name="email"
          #email="ngModel" [ngClass]="{ 'is-invalid': email.touched && email.invalid }" required 
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
          <div *ngIf="email.touched && email.invalid" class="invalid-feedback">
            <div *ngIf="email.errors.required">This is a required field</div>
            <div *ngIf="email.errors.pattern">Please enter valid email</div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
        <a href="#" routerLink="/login" class="mt-2">Back to Login</a>
      </form>
   </div>
  </div>

  <div class="col-md-6">
    <div class="right-side">
      <p>It's never been so easy to match <b>perfect products</b> together </p>
      <img src="../../../assets/images/login-side-image.png" alt="login-image"> 
    </div>     
  </div>
</div>
