<div class="about-us-bg">
  <div class="container-fluid">
    <section class="about-us-section">
      <div class="row">
        <div class="col-md-6">        
          <div class="text-box">
            <h4>Our Story</h4>
            <p>
              IVYS International started its journey in Sri Lanka following the growing interest of the medicinal 
              and cosmetic benefits of essential oils derived from a host of herbal, spice and flowering plants 
              that are grown widely in Sri Lanka and it has been a long kept secret that found its way to the rest of the world.
            </p>

            <p>
              As a result, IVYS International, had been providing pure essential oils and value
              added products across local and a number of international markets through
              our own sources in Sri Lanka over a decade and trusted for our quality.
            </p>
  
            <p>
              We are a young 
              and enthusiastic team, working hard to provide high quality products at affordable prices, 
              customized to our customers’ needs. We strive for constant improvement as we share our experience. 
              That is why we place high priority to endeavour in carefully choosing our partners and suppliers, 
              and only work with the most trusted and quality oriented ones. 
            </p>
            
            <p>
              In 2019, IVYS International made a giant leap by expanding its presence to Maldives market with extension 
              of its product and service offerings to the Luxury hotel sector in the region after adding a range of 
              Luxury Hotel Amenities by way of a collaboration with a renowned international brand.
            </p>

            <p>
              Today, for the first time 
              in Sri Lanka & Maldives, we have created <strong>Direct2Resort</strong>, a diversified business model to offer a 
              complete array of products on an innovative online platform where we bring together a world of 
              suppliers directly to connet with resort sector in the region. This novel model undoubtedly will 
              revolutionize the way of traditional resort supply business and excite all our partners with a 
              whole heap of benefits.
            </p>
          </div>
        </div>
        <div class="col-md-6">    
          <div class="two-img-box">
            <img src="./assets/images/about-us-img.png"/>
            <img src="./assets/images/about-us-img-1.jpg"/>
          </div>
          <div class="single-img-box">
            <img src="./assets/images/about-us-img-2.jpg"/>
          </div>            
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6">        
          
        </div>
        <div class="col-md-6">        
          <div class="text-box">
            
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
