<div class="page-holder" [ng2-loading]="isLoading">
  <div class="page-header">
    <div class="page-header-inner">
      <div class="row">
        <div class="col-md-6">
          <h2>Manage Quotes</h2>
        </div>
    
        <div class="col-md-6 text-right">
          
        </div>
      </div>

      <div class="header-action-bar">
        <div class="row">
          <div class="col-md-9">
            <div class="filter-btns-holder">
              <div class="filter-label">
                RFQ Status:
              </div>
              <div class="filter-btn" (click)="filterQuoteList('all')" [ngClass]="{'selected': selectedFilter === 'all'}">
                All
              </div>
              <div class="filter-btn" (click)="filterQuoteList('pending')" [ngClass]="{'selected': selectedFilter === 'pending'}">
                Pending
              </div>
              <div class="filter-btn" (click)="filterQuoteList('approved')" [ngClass]="{'selected': selectedFilter === 'approved'}">
                Approved
              </div>
              <div class="filter-btn" (click)="filterQuoteList('rejected')" [ngClass]="{'selected': selectedFilter === 'rejected'}">
                Rejected
              </div>
              <div class="filter-btn" (click)="filterQuoteList('readyToShip')" [ngClass]="{'selected': selectedFilter === 'readyToShip'}">
                Ready to Ship
              </div>
              <!-- <div class="filter-btn" (click)="filterQuoteList('submittedToLp')" [ngClass]="{'selected': selectedFilter === 'submittedToLp'}">
                Submitted to LP
              </div>              -->
            </div>
          </div>
        </div>
      </div>      
    </div>    
  </div>

  <div class="page-content">    
    <div class="table-responsive">
      <table class="table table-ivys" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Quote ID</th>
          <th scope="col">Created Date</th>
          <th scope="col">Submitted to LP Date</th>          
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let quote of sellerQuoteList">
          <th scope="row"></th>
          <td>{{quote.quote_uuid}}</td>
          <td>{{quote.created_date | date: 'M/d/yy'}} <br> <small>{{quote.created_date | date: 'h:mm a'}}</small></td>
          <td>
            <div *ngIf="quote?.submited_to_freight === 1">
              {{quote.submited_to_freight_date | date: 'M/d/yy'}} <br> <small>{{quote.submited_to_freight_date | date: 'h:mm a'}}</small>
            </div>
            <div *ngIf="quote?.submited_to_freight === 0">-</div>
          </td>
          <td>
            <!-- <span class="badge" [ngClass]="{'badge-warning':quote.final_client_aproval === 'Pending', 'badge-success':quote.final_client_aproval === 'Aproved', 'badge-danger':quote.final_client_aproval === 'Rejected'}">
              {{quote.final_client_aproval}}
            </span> -->
                       
            <span class="badge badge-success mr-2" *ngIf="quote.final_client_aproval === 'Aproved' && quote.submited_to_freight === 0 && quote.ready_to_ship === 0">
              Buyer Approved
            </span>
            <span class="badge badge-success mr-2" *ngIf="quote.buyer_apporved_frieght_method === 'Air' || quote.buyer_apporved_frieght_method === 'Sea'">
              Order Confirmed
            </span>
            <span class="badge badge-primary" *ngIf="quote.ready_to_ship === 1 && quote.buyer_apporved_frieght_method === null">
              Ready to Ship
            </span> 
            <span class="badge badge-danger" *ngIf="quote.final_client_aproval === 'Rejected'">
              Buyer Rejected
            </span>
            <span class="badge badge-warning" *ngIf="quote.final_client_aproval === 'Pending' && quote.seller_close_quote === 0">
              Pending
            </span>
            <!-- <span class="badge badge-info" *ngIf="quote.final_client_aproval === 'Aproved' && quote.submited_to_freight === 1 && quote.buyer_apporved_frieght_method === null">
              Submitted to LP
            </span>  -->
            <span class="badge badge-danger" *ngIf="quote.seller_close_quote === 1">
              Closed By You
            </span> 
            <span class="badge badge-danger" *ngIf="quote.final_client_aproval === 'Close'">
              Closed By Buyer
            </span>
          </td>
          <td>
            <button type="button" class="btn btn-light btn-sm" [routerLink]="['/seller/manage-rfq', quote.quote_uuid]" tooltip="Manage Quote">
              <i class="fas fa-quote-right"></i>
            </button>

            <button *ngIf="quote.ready_to_ship === 1" type="button" class="btn btn-light btn-sm" [routerLink]="['/seller/shipping-manager', quote.quote_uuid]" tooltip="Manage Shipment">
              <img src="assets/images/ship.svg"/>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div> 
  </div>
</div>
