<div class="page-holder" [ng2-loading]="isLoading">
  <div class="page-header">
    <div class="page-header-inner">
      <div class="row">
        <div class="col-md-6">
          <h2>Manage RFQ</h2>
        </div>
    
        <div class="col-md-6 text-right">
          <button class="btn" type="button">
            <i class="apicon-settings"></i>
          </button>
        </div>
      </div>

      <div class="header-action-bar">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <input type="text" placeholder="Search" class="form-control form-control-sm" name="search">
            </div>
          </div>
          <div class="col-md-9">
            <div class="filter-btns-holder">
              <div class="filter-label">
                RFQ Status:
              </div>
              <div class="filter-btn selected">
                All <div class="divider"></div> <span>{{quoteList.length}}</span>
              </div>
              <div class="filter-btn">
                Pending <div class="divider"></div> <span>4</span>
              </div>
              <div class="filter-btn">
                Approved <div class="divider"></div> <span>12</span>
              </div>
              <div class="filter-btn">
                Rejected <div class="divider"></div> <span>18</span>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>    
  </div>

  <div class="page-content">
    <table class="table table-ivys" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Quote ID</th>
        <th scope="col">Created Date</th>
        <th scope="col">Last Update</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let quote of quoteList">
        <th scope="row"></th>
        <td>{{quote.quote_id}}</td>
        <td>{{quote.created_date | date: 'M/d/yy'}} <br> <small>{{quote.created_date | date: 'h:mm a'}}</small></td>
        <td>{{quote.last_updated_date | date: 'M/d/yy'}} <br> <small>{{quote.last_updated_date | date: 'h:mm a'}}</small></td>
        <td>
          <span class="badge" [ngClass]="{'badge-warning':quote.final_client_aproval === 'Pending', 'badge-success':quote.final_client_aproval === 'Approved', 'badge-danger':quote.final_client_aproval === 'Rejected'}">
            {{quote.final_client_aproval}}
          </span>
        </td>
        <td>
          <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/seller/manage-quote', quote.quote_id]">Manage</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
