<div class="shop-sidebar">
  <!-- <div class="ss-search">
    <input type="text" name="search"/>
    <i class="apicon-search"></i>
  </div> -->

  <div class="shop-sidebar-item">
    <div class="ssi-title">
      <h3>Filters</h3>
      <h5 (click)="resetCatFilter()">Reset All</h5>
    </div>
  </div>

  <div class="shop-sidebar-item" *ngIf="catList?.length">
    <div class="ssi-sub-title">
      <h3>Categories</h3>
      <h5 (click)="resetCatFilter()">Reset</h5>
    </div>

    <div class="category-list">
      <div class="cat-item" [@inOutAnimation] *ngFor="let cat of catList" (click)="getAllSubCats(cat.category_slug)" [ngClass]="{'active': filterParams.categoryId === cat.category_slug}">
        <i class="fas fa-check-circle"></i>
        <img src="{{catImgPath}}/{{cat.product_cat_img}}"/>
        <p>{{cat.product_cat_name}}</p>
      </div>
    </div>
  </div>

  <div class="shop-sidebar-item" *ngIf="subCatList?.length" [@inOutAnimation]>
    <div class="ssi-sub-title">
      <h3>Sub Categories</h3>
      <h5 (click)="resetSubCatFilter()">Reset</h5>
    </div>

    <div class="sub-cat-list">
      <div class="sub-cat-item" *ngFor="let subCat of subCatList" (click)="selectSubCats(subCat.sub_prod_cat_id)" [ngClass]="selectedSubCat(subCat.sub_prod_cat_id)">
        <p>          
          {{subCat.sub_prod_cat_name}}
          <i class="fas fa-check-circle"></i>
        </p>
      </div>
    </div>
  </div>

  <div class="shop-sidebar-item">
  <button type="button" class="btn btn-primary btn-block" (click)="filter()" [@inOutAnimation]>Filter</button>
</div>