<section class="our-promise-section" id="ourPromise">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="home-section-title text-center">
          <h2>Our Promise 3445</h2>
          <p>your partner for hotel supplies <br>
            The leading brand for hotels and restaurents</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="promise-block-holder">
  <div class="promise-item lp" (click)="gotoPromisePage(0)">
    <img src="assets/images/lowest_price.png"/>
    <h6>Lowest Price</h6>
    <p>Open costing. No hidden markups.</p>
  </div>
  <div class="promise-item dfs" (click)="gotoPromisePage(1)">
    <img src="assets/images/direct_source.png"/>
    <h6>Direct from the source</h6>
    <p>No middlemen</p>
  </div>
  <div class="promise-item bsr" (click)="gotoPromisePage(2)">
    <img src="assets/images/best_shipping_rates.png"/>
    <h6>Best shipping rates</h6>
    <p>No hidden charges.</p>
  </div>
  <div class="promise-item qp" (click)="gotoPromisePage(3)">
    <img src="assets/images/quality_for.png"/>
    <h6>Quality for professionals</h6>
    <p>Only branded products </p>
  </div>
</div>
