@font-face {
    font-family: 'Gordita';
    src: url('assets/fonts/gordita/Gordita-BlackItalic.woff2') format('woff2'),
        url('assets/fonts/gordita/Gordita-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gordita Ultra';
    src: url('assets/fonts/gordita/Gordita-Ultra.woff2') format('woff2'),
        url('assets/fonts/gordita/Gordita-Ultra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('assets/fonts/gordita/Gordita-Light.woff2') format('woff2'),
        url('assets/fonts/gordita/Gordita-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('assets/fonts/gordita/Gordita-Black.woff2') format('woff2'),
        url('assets/fonts/gordita/Gordita-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('assets/fonts/gordita/Gordita-Bold.woff2') format('woff2'),
        url('assets/fonts/gordita/Gordita-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('assets/fonts/gordita/Gordita-ThinItalic.woff2') format('woff2'),
        url('assets/fonts/gordita/Gordita-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gordita';
    src: url('assets/fonts/gordita/Gordita-Medium.woff2') format('woff2'),
        url('assets/fonts/gordita/Gordita-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('assets/fonts/gordita/Gordita-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/gordita/Gordita-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gordita Ultra';
    src: url('assets/fonts/gordita/Gordita-UltraItalic.woff2') format('woff2'),
        url('assets/fonts/gordita/Gordita-UltraItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gordita';
    src: url('assets/fonts/gordita/Gordita-Regular.woff2') format('woff2'),
        url('assets/fonts/gordita/Gordita-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('assets/fonts/gordita/Gordita-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/gordita/Gordita-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gordita';
    src: url('assets/fonts/gordita/Gordita-LightItalic.woff2') format('woff2'),
        url('assets/fonts/gordita/Gordita-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gordita';
    src: url('assets/fonts/gordita/Gordita-Thin.woff2') format('woff2'),
        url('assets/fonts/gordita/Gordita-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('assets/fonts/gordita/Gordita-RegularItalic.woff2') format('woff2'),
        url('assets/fonts/gordita/Gordita-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

