/* -- Header Variables -- */
$headerBgColor: #ffffff;
$headerFontColor: #91a1a8;

/* -- Form Controllers -- */
$inputBorderColor: #90a0a7;
$backgroundcolor:#4e5380;
$fontPrimaryColor:#3a5a68;
$fontSecondaryColor:#86989f;

$buttonsPrimaryColor:#519cd8;
$buttonsSecondaryColor:#4e5380;

/* -- Login / Register Component --*/
$loginRegColorSectionBg: #4e5380;